// @function 함수이름($매개변수) {
// 	// 실행 코드
// 	@return 값
// }

@function sigma($number) {
    $result: 0;
    @for $i from 1 to $number {
        $result: $result + $i;
    }
    @return $result;
}

.one {
    width: sigma(11)px;
}